body {
    font-family: Arial, sans-serif;
    background-color: #121212;
    color: #f0f0f0;
    margin: 0;
}

.container {
    max-width: 700px;
    margin: auto;
    background-color: #1e1e1e;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
    text-align: center;
}

#astolfo {
    width: 150px;
    border-radius: 50%;
    margin-bottom: 15px;
}

h1 {
    margin: 10px 0 5px;
    color: #ffffff;
}

label {
    margin: 10px 0 5px;
    color: #bbbbbb;
}

.bio {
    font-style: italic;
    margin-bottom: 20px;
    color: #cccccc;
}

ul {
    text-align: left;
    display: inline-block;
    padding-left: 20px;
}

a {
    margin: 0 10px;
    text-decoration: none;
    color: #4dabf7; /* Azul claro */
}

a:hover {
    text-decoration: underline;
}

input[type=text],
input[type=email],
textarea,
select {
    width: 100%;
    padding: 10px;
    margin-top: 6px;
    margin-bottom: 16px;
    box-sizing: border-box;
    background-color: #333;
    color: #f0f0f0;
    border: 1px solid #555;
}

#icon_insta {
    width: 50px;
    border-radius: 50%;
    margin-bottom: 15px;
}

input[type="submit"] {
    background-color: #4dabf7;
    color: #fff;
    border-radius: 10%;
    padding: 10px;
    margin-top: 30px;
    margin-bottom: 30px;
    box-shadow: 0 0 30px rgba(77, 171, 247, 0.5);
    border: none;
    cursor: pointer;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    padding: 20px;
    background-color: #1e1e1e;
}

.menu {
    display: flex;
    gap: 20px;
}

.menu a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    background-color: #333;
    padding: 10px 15px;
    border-radius: 5px;
    transition: background 0.3s ease;
}

.menu a:hover {
    background-color: #555;
}

.botoes {
    display: flex;
    gap: 10px;
}

.botoes button {
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}

.botoes button:first-child {
    background-color: #333;
    color: #f0f0f0;
}

.botoes button:last-child {
    background-color: #4dabf7;
    color: #fff;
}

footer {
    background-color: #1e1e1e;
    color: white;
    text-align: center;
    padding: 20px 0;
}

.footer-links {
    margin-top: 10px;
}

.footer-links a {
    color: #888;
    text-decoration: none;
    margin: 0 10px;
    transition: color 0.3s ease;
}

.footer-links a:hover {
    color: #fff;
}
