<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>Currículo - Pedro</title>
    <link id="theme" rel="stylesheet" href="styles.css">
</head>


<header>
    <nav class="menu">
        <br><br>
        <a href="#habilidades">Habilidades</a>
        <a href="#redes">Redes sociais</a>
        <a href="#contato">Contate-me</a>
    </nav>
    <div class="botoes">
        <button onclick="changeStyle('styles.css')">🌞 Modo Claro</button>
        <button onclick="changeStyle('escuro.css')">🌙 Modo Escuro</button>
    </div>
</header>



<body>
<div class="container">
    <img src="astolfo.png" id="astolfo" alt="Foto de perfil">
    <h1>pedro</h1>
    <h4>Profissão</h4>

    <p class="bio">
        estudante de sistemas
    </p>

    <br><br>

    <h4 id="habilidades">Habilidades:</h4>
    <ul>
        <li>bom de briga</li>
        <li>bom de soco</li>
    </ul>

    <br><br>

    <h4 id="redes">Redes sociais:</h4>
    <br>
    <a href="https://instagram.com/pedrx.pires">
        <img src="icon_instagram.png" id="icon_insta" alt="Icone do Instagram">
    </a>

    <h4 id="contato">Contate-me:</h4>
    <br>
    <form>
        <label for="nome">Nome:</label>
        <input type="text" id="nome" name="nome">
        <br><br>
        <label for="email">Email:</label>
        <input type="email" id="email" name="email">
        <br><br>
        <label for="mensagem">Mensagem:</label>
        <textarea id="mensagem" name="mensagem"></textarea>
        <br><br>
        <label for="setor">Escolha</label>
        <select id="setor" name="setor">
            <option>Par</option>
            <option>Ímpar</option>
        </select>
        <input type="submit" value="ENVIAR">
    </form>
</div>

<footer>
    <p>&copy; 2025 Pedro Pires</p>
    <div class="footer-links">
        <a href="#habilidades">Habilidades</a> |
        <a href="#redes">Redes sociais</a> |
        <a href="#contato">Contate-me</a>
    </div>
</footer>


<script>
    function changeStyle(sheet) {
        document.getElementById('theme').href = sheet;
    }
</script>

</body>

<footer>
</footer>

</html>
